@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projet Antony LEFEVRE</h1>
    <h3>Temps de réalisation : 2h</h3>
</div>
<div>

    <h4>Fonctionnalités OK :</h4>
    <ul style="font-size: smaller">
        <li>CRUD d'une catégorie</li>
        <li>CRUD d'un produit</li>
        <li>Code couleur selon quantité</li>
        <li>Liaison BDD SQL Express + Entity</li>
    </ul>

    <h4>Fonctionnalités NOK :</h4>
    <ul style="font-size: smaller">
        <li>Affichage d'une seule liste catégorie/produits</li>
        <li>Si suppression d'une catégorie => pas de Maj sur les produits</li>
        <li>Pas de menu déroulant des catégories à la création d'un produit</li>
    </ul>
</div>
<div  style="font-size: smaller">
    Ce fût mon 1er projet from scratch en .NET <br/>
    J'ai eu beaucoup de mal à partir d'une bonne architecture.<br />
    Je n'ai pas fait de C# depuis 3ans et je n'en ai jamais fais en milieu professionnel.<br /><br />

    J'ai réalisé ce genre de projet dans mon ancien travail, en VueJS - VB.net - SQL Server mais toute l'architecture était déjà existante.<br />
    Beaucoup de code est généré par les modeles choisis mais je suis capable de vous l'expliquer.<br/><br/>

    Merci d'avoir pris le temps, je suis disponible pour tout échange.<br/>
</div>

